section{
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border: 3px solid #eaeaea;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}